@import 'tailwindcss';

@theme {
    --color-primary: #3b82f6;
    /* Blue 500 */
    --color-primary-dark: #2563eb;
    /* Blue 600 */
    --color-background-light: #f8fafc;
    /* Slate 50 */
    --color-background-dark: #0f172a;
    /* Slate 900 */
    --color-surface-light: #ffffff;
    --color-surface-dark: #1e293b;
    /* Slate 800 */
    --color-success: #10b981;
    --color-warning: #f59e0b;
    --color-danger: #ef4444;
    --color-text-main: #0f172a;
    --color-text-muted: #64748b;
    --color-border-light: #e2e8f0;
    --color-border-dark: #334155;

    --font-display: "Manrope", "sans-serif";

    --shadow-soft: 0 2px 10px rgba(0, 0, 0, 0.03);
    --shadow-card: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);

    /* Deisa Custom Colors */
    --color-deisa-blue: #0B63D6;
    --color-deisa-green: #10B981;
    --color-deisa-bg: var(--color-deisa-blue);
    --color-deisa-surface: #ffffff;
    --color-deisa-muted: #64748b;
}

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../views/**/*.blade.php";
@source "../js/**/*.js";
@source "../../app/**/*.php";