@import 'tailwindcss';

@theme {
    --color-primary: #0B63D6;
    /* Deisa Blue */
    --color-primary-dark: #094eb0;
    --color-background-light: #ffffff;
    /* Pure White */
    --color-background-dark: #ffffff; 
    /* Force white even in dark variables since dark mode is disabled */
    --color-surface-light: #ffffff;
    --color-surface-dark: #ffffff;
    --color-success: #10b981;
    --color-success-soft: #ecfdf5;
    --color-warning: #f59e0b;
    --color-warning-soft: #fffbeb;
    --color-danger: #ef4444;
    --color-danger-soft: #fef2f2;
    --color-text-main: #020617;
    /* Very Dark Blue/Black */
    --color-text-muted: #475569;
    /* Darker Slate */
    --color-border-light: #e2e8f0;
    --color-border-dark: #e2e8f0;

    --font-display: "Manrope", "sans-serif";

    --shadow-soft: 0 2px 10px rgba(0, 0, 0, 0.03);
    --shadow-card: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);

    /* Deisa Custom Colors */
    --color-deisa-blue: #0B63D6;
    --color-deisa-green: #10B981;
    --color-deisa-bg: var(--color-deisa-blue);
    --color-deisa-surface: #ffffff;
    --color-deisa-muted: #64748b;
}

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../views/**/*.blade.php";
@source "../js/**/*.js";
@source "../../app/**/*.php";